﻿@{
    ViewBag.Title = "Help";
}
<br />
<div style="text-align:center">
    @for (int i = 1; i <= 13; i++)
    {
        <img src="@Url.Action("Help/" + i + ".png", "Images")" alt="@i" id="image_@i" style="display:inline; width:70%;" />
    }
</div>
