﻿@{
    ViewBag.Title = "Index";
    var languages = ViewBag.Languages as IEnumerable<DAL.Language>;
    var levels = ViewBag.Levels as IEnumerable<DAL.Level>;
    var categories = ViewBag.Categories as IEnumerable<DAL.LessonCategory>;
    var isLanguageSelected = (bool)ViewBag.LanguageSelected;
}
<div id="container">
    <h1>Welcome! </h1>
    @if (!isLanguageSelected)
    {
        <h3 id="pageTitle">What language would you like to learn today?</h3>
        <div class="item-holder" id="language-holder">
            <ul class="list-lang-items">
                @foreach (var lang in languages)
                {
                    <li class="img-item" itemscope itemtype="http://schema.org/Language">
                        <a href="@Url.Action("Index", "Home", new { languageId = lang.LanguageId })"  itemprop="url">
                            <img class="img-link" src="@Url.Action("Flags/" + lang.Icon, "Images")" alt="@lang.Name"  itemprop="image"/>
                        </a>
                        <p class="img-label"  itemprop="name">@lang.Name</p>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    }
    else
    {
        <h3>Please select your level or preffered lesson category!</h3>
        <div class="item-holder" id="level-holder">
            <ul class="list-lang-items">
                @foreach (var level in levels)
                {
                    <li class="img-item">
                        <a href="@Url.Action("Lessons", "Home", new { levelId = level.LevelId })">
                            <img class="img-link" src="@Url.Action("Levels/" + level.Icon, "Images")" alt="@level.Name" />
                        </a>
                        <p class="img-label">@level.Name</p>
                    </li>
                }
            </ul>

        </div>
        <div class="clearfix"></div>
        <div class="item-holder" id="topic-holder">
            <ul class="list-lang-items">
                @foreach (var category in categories)
                {
                    <li class="img-item">
                        <a href="@Url.Action("Lessons", "Home", new { categoryId = category.LessonCategoryId })">
                            <img class="img-link" src="@Url.Action("Categories/" + category.Icon, "Images")" alt="@category.Name" />
                        </a>
                        <p class="img-label">@category.Name</p>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    }
</div>
