﻿/*borders*/
/*main css*/
/*#container {
    border: solid black 1px;
}*/

.item-holder {
    border-bottom: solid black 1px;
}

.widget {
}

    /* css pentru sagetica de la div */
    .widget::before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
    }


.user-widget-part {
    border-bottom: solid black 1px;
}



