/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2015, 10:38:05 PM
    Author     : AugustinUser
*/

.lesson-icon {
    margin-left: 1em;
    margin-bottom: -0.5em;
}