﻿.studybook-img-item {
    max-width: 128px;
    max-height: 128px;
}

/*for Read.cshtml*/

.studybook-container {
    text-align: center;
}

.studybook-section {
    /*border: solid black 1px;
    border-radius: 6px;*/
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 1em;
}
    .studybook-section table {
        width:80%;
    }

    .studybook-section td{
        text-align: left;
        padding: 0.5em;
        padding-left: 2em;
        padding-right: 1em;
    }

#embedded-reader {
 width: 90%;
 height: 700px;
}


