/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2015, 2:53:26 PM
    Author     : AugustinUser
*/

#test-container {
    width: 90%;
    margin: 0 auto;
    /*border: solid black 1px;*/
}

/*progress bar*/
#progress-bar-div {
    width: 96%;
    /*border: solid black 1px;*/
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

    #progress-bar-div .progress-bar {
        /*background-color: chartreuse;*/
        margin: 1em;
        height: 30px;
        width: 90%;
        /*border-radius: 9px;*/
    }

    #progress-bar-div .answers-ratio {
        vertical-align: middle;
    }

/*
#progress-bar {
    height:30px;
    width:80%;
    border: solid black 1px;
    margin: 1em;
    display: block;
}
#progress-bar .progres-bar-front {

    background-color: chartreuse;
    text-align:right;
    width: 60%;
    height: 100%;
    display: block;
    float: left;
}

#progress-bar .progress-bar-back {

    background-color: #c00;
    text-align:right;
    width: 40%;
    height: 100%;
    display: block;
    float: left;

}*/


#answers-ratio {
    margin-top: 2em;
    text-align: center;
}

/*question*/
#question-div {
    width: 100%;
    margin-bottom: 1em;
}

    #question-div img {
        max-width: 90%;
        max-height: 90%;
    }

/*answers*/
#answer-div {
    width: 100%;
    /*border: solid black 1px;*/
    margin: 0 auto;
}

    #answer-div img {
       max-width: 90%;
       max-height: 90%;
    }

.answer {
    cursor: pointer;
    width: 36%;
    /*border: solid black 1px;*/
    padding: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*buttons*/
.navigation-btn {
    min-width: 80px;
    width: 20%;
    padding: 1em;
    margin: 1em;
}

#prev-btn {
    float: left;
    margin-left: 2em;
}

#next-btn {
    float: right;
    margin-right: 2em;
}


/*.correctAnswer {
    background-color:green;
}

.wrongAnswer {
    background-color:red;
}*/


