/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2015, 10:30:28 PM
    Author     : AugustinUser
*/
#wrap {
    width: 90%;
    margin: 0 auto;
    height: 90%;
    background-color: #fff; 
    min-width: 300px;

}
#nav {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 10px solid #ccc; 
    border-top: 1px solid #ccc; 
}

#nav li {
    float: left;
    /*needs some fix*/
    height: 45px; 


}


#nav li.link-item {
    width: 120px;
}

#nav li.right {
    float:right;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
}

#nav li.link-item a {
    margin-top: 1em;
}
#nav li:hover {
    color: #c00;
    background-color: #ccc ; 
}
/* End navigation bar styling. */

/* This is just styling for this specific page. */
body {
    background-color: #555; 
    font: small/1.3 Arial, Helvetica, sans-serif; 
}

//breadcrums

#breadcrumbs{
    list-style: none;
    display:inline-block;
}

#breadcrumbs li {
    float:left;
    margin-top : 1em;
    margin-bottom : 1em;
    margin-right: 2em;
}

#breadcrumbs li:hover {
    background-color: #ccc;
}


#breadcrumbs .first{
    margin-left: -2em;
}

#breadcrumbs a{
    display: block;
    text-decoration: none;

}

#container{
    /*clearing float from breadcrums*/
    clear:left;
    width: 90%;
    height:90%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border: solid black 1px;
    text-align: center;
}
.item-holder {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 90%;
    display: inline-block;
    border-bottom: solid black 1px;
}
.list-lang-items{
    width: 100%;
    margin: 0 auto;
    list-style: none;
}
.list-lang-items li {
    float:left;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.list-img-items .img-label {
    margin-top: 0em;
}


.img-item:hover{
    background-color: #ccc;
}

.clearfix {
    clear:both;
}

/*hidden divs*/
.hidden {
    display:none;
}

.current{
    color: #c00;
    background-color:#ccc; 
}
.widget {
    width: 200px;
    text-align: center;
    border: solid black 1px;
    background-color: activecaption;
    position: absolute;
    border-radius: 10px;
    display: none;
}

/* css pentru sagetica de la div */
.widget::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    content: "";
    top:-7px;
    left: 24px;
    width: 3px;
}

/*dictionary widget*/
.language-widget{
    margin-left: -78px;
}

.language-widget::before {
    margin-left: 78px;
}

.lang-widget-list {
    list-style: none;

}

.widget-row {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
    border: solid black 1px;
    margin-left: -1.5em;
    padding-left: -0.5em;
    /*padding-right: 1em;*/
}

.widget-row img {
    margin-bottom : -0.5em;
}

.iconFlag{
    position: relative;
}


/*user-widget*/
.user-widget{
    margin-left: -16px;
}

.user-widget::before {
    margin-left: 16px;
}


.left-align{
    text-align: left;
    margin: 0 auto;
}

.user-widget-part {
    border-bottom:solid black 1px;
    margin: 1em;

}

.login-btn-container {
    padding-bottom: 0.5em;
}

.sign-in-container {
    margin-bottom: 0.5em;
}

.widget form{
    margin: 0.2em;
}

.iconUser{
    position: relative;
}

/*dictionary-widget*/

.dictionary-widget {
    border: solid black 1px;
    margin-left: -140px;
}

.dictionary-widget::before {
    left: 165px;
}

.dictionary-widget-element {
    margin: 0.2em;
}

.dictionary-widget-line {
    text-align: left;
}
.div-row {
    vertical-align: middle;
}
.input-box {
    width: 110px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : Jan 17, 2015, 10:30:28 PM
    Author     : AugustinUser

#wrap {
    width: 90%;
    margin: 0 auto;
    background-color: #fff; 
    min-width: 300px;
}
#nav {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 10px solid #ccc; 
    border-top: 1px solid #ccc; 
}

#nav li {
    float: left;
    needs some fix
    height: 45px; 
    
   
}


#nav li.link-item {
    width: 120px;
}

#nav li.right {
    float:right;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
}

#nav li.link-item a {
    margin-top: 1em;
}
#nav li:hover {
    color: #c00;
    background-color: #ccc ; 
}
 End navigation bar styling. 

 This is just styling for this specific page. 
body {
    font: small/1.3 Arial, Helvetica, sans-serif; 
}

//breadcrums

#breadcrumbs{
    list-style: none;
    display:inline-block;
}

#breadcrumbs li {
    float:left;
    margin-top : 1em;
    margin-bottom : 1em;
    margin-right: 2em;
}

#breadcrumbs li:hover {
    background-color: #ccc;
}


#breadcrumbs .first{
    margin-left: -2em;
}

#breadcrumbs a{
    display: block;
    text-decoration: none;

}

#container{
    clearing float from breadcrums
    clear:left;
    width: 90%;
    height:90%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border: solid black 1px;

    align text center
    text-align: center;

    scrolling
    overflow: scroll;

    width constraints
}
.item-holder {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 90%;
    display: inline-block;
    border-bottom: solid black 1px;
}
.list-lang-items{
    width: 100%;
    margin: 0 auto;
    list-style: none;
}
.list-lang-items li {
    float:left;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.list-img-items .img-label {
    margin-top: 0em;
}


.img-item:hover{
    background-color: #ccc;
}

.clearfix {
    clear:both;
}

hidden divs
.hidden {
    display:none;
}

.current{
    color: #c00;
    background-color:#ccc; 
}

#top-bar {
    float:right; 
    z-index: 1000;
    width: 15%;
}*/