﻿@{
    var studybooks = ViewBag.Studybooks as IEnumerable<DAL.StudyBook>; 
    var size = ViewBag.size;
}
<link href="@Url.Action("study_book.css", "Styles")" rel="stylesheet" />
<div id="container">
    <h1>Studybook </h1>
    @if (size == 0)
    {
        <h3>There are no books to read for this language.</h3>
    } else{
        <h3>Choose a book to read</h3>
    }
    <div class="item-holder" id="studybook-holder">
        <ul class="list-lang-items">
            @foreach (var studybook in studybooks){
            <li class="img-item" itemscope itemtype="http://schema.org/Book">
                <a href="@Url.Action("Read", "Studybooks", new { bookId = @studybook.StudyBookId })">
                    <img class="img-link studybook-img-item" src="@Url.Action("Studybooks/" + studybook.Icon, "Images")" alt="@studybook.Name" itemprop="thumbnailUrl" /></a>
                <p class="img-label" itemprop="name">Name: @studybook.Name</p>
                <p class="img-label" itemprop="author">Author: @studybook.Author</p>
            </li>
            }
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
